
.chat-container {
    
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(4, 125, 109, 0.2);
    
}

.message {
    margin-bottom: 10px;
}

.user {
    text-align: right;
}

.input-container {
    display: flex;
    align-items: center;
}

input[type="text"] {
    font-size: 20px;
    flex: 1;
    padding: 8px;
    margin-right: 10px;
}



.message.user {
    align-self: flex-end;
}

.message.bot {
    align-self: flex-start;
}
.textarea-container {
    position: relative;
}


.send-btn, .upload-btn, .voice-btn {
    margin-bottom: 10px;
}