
.chat-container {
    
    background-color: #fff;
    overflow-y: auto;
    
}

.message {
    margin-bottom: 10px;
}

.user {
    text-align: right;
}

.input-container {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
}



.message.user {
    align-self: flex-end;
}

.message.bot {
    align-self: flex-start;
}
.textarea-container {
    position: relative;
}


.send-btn {
    margin-bottom: 10px;
}