.side-card {
    background: #c0f1ef !important;
    background-image: linear-gradient(to bottom, #87e8de, #069390) !important;

}
.calendar-btn {
    background-color: #069390;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    align-items: center;
    margin-left: 90px;
}

.calendar-btn:hover {
    background-color: #08aeac !important;
}