.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
    color: #fff;
        background-color: #069390 !important;
        font-weight: 500;
}
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
    color: #fff;
    background-color: #069390 !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    color: #fff;
    background-color: #069390 !important;
    font-weight: 500;
}
.css-innj4t-MuiPickersYear-yearButton.Mui-selected {
        background-color: #069390 !important;
}
.calendar{
    max-width: 300 !important;
}