.ant-btn-primary{
    background-color: #069390;
}
.primary--color {
    color: #069390 !important;
}

.primary--light--color {
    color: #739072 !important;
}

.secondary--color {
    color: #07c3c0 !important;
}
.gray--color {
    color: #303030 !important;
}
.light--color {
    color: #d2e3c8;
}


/* health card */

