
body {    
    background: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
   
}

::-webkit-scrollbar-thumb {
    background-color: #888;
   
}

* {
    scrollbar-width: 5px;
   
}

*::-webkit-scrollbar {
    width: 5px;
}
