.book-appointment-card {
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 16px rgb(7, 115, 95) !important;
}

.book-appointment-card .ant-typography {
    margin-bottom: 10px;
}

.time-slots {
    padding-left: 0;
}

.time-slots li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.book-appointment-button {
    margin-top: 20px;
    width: 100%;
}