.green-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
    stroke: #15c4c1 !important;
    stroke-width: 15;
}

.red-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
    stroke: rgb(250, 94, 94) !important;
    stroke-width: 15;
}
.green-progress .ant-progress-text {
    color: #15c4c1 !important;
}
.red-progress .ant-progress-text {
    color: red !important;
}
/* HealthEvaluate.css */

.complete-card {
    background-color: #ffffff;
    /* Màu nền cho dữ liệu đủ */
    transition: background-color 0.5s ease-in-out;
    /* Hiệu ứng chuyển đổi màu nền */
    border: 1px solid #ddd;
    /* Viền cho thẻ card */
}

/* Style cho các hàng chứa thông tin sức khỏe */
.health-info {
    background-color: #fc9375;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    align-content: center;
    margin-bottom: 20px;
}

.health-info-text {
    font-weight: 600;
    color: white;
    margin-left: 30px;
}
.health-card{
    background-color: #ffffff;
    width: 300px;
    
}