

.banner-btn {
    background-color: #ffffff !important;
    color: #069390;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.banner-btn:hover {
    background-color: #45eaea !important;
    color: #069390 !important;
}
.banner-btn-sub{
    background-color: transparent;
    color: #ffffff !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

}
.banner-btn-sub:hover {
    border-color: #069390 !important;
    background-color: #ffffff !important;
    color: #069390 !important;
}

.ant-btn-primary {
    background-color: #069390;
}

