.blog-layout {
    background-color: #f9f3f3;
}
.blog-content {
    padding: 50px;
}

.blog-card {
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
}

.blog-image {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
}

.blog-date {
    color: #808080;
    margin-bottom: 10px;
}

.blog-content {
    line-height: 1.6;
}
.header {
    padding-top: 12px;
    background: #fff;
}

.like-icon:hover {
    color: red;

}
.like-icon.clicked {
    color: red;
}
.user-info-icons {
    display: flex;
    align-items: center;
}
.like-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.comment-icon {
    width: 30px;
        height: 30px;
    margin-left: 10px;
}