@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

:root {
    --low: rgb(11, 117, 163);
    --normal: green;
    --high: lightcoral;
    --critical: crimson;
}



h1 {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 100vh;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(5, 125, 129, 0.25);
    display: grid;
    gap: 1rem;
}

.calculator {
    display: grid;
    gap: 1rem;
}

.calculator div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.calculator label {
    flex: 0 1 120px;
    font-weight: 600;
}

.calculator input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline-color: #555;
    font-size: 1.25rem;
    text-align: center;
}

.calculator button {
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #00a1a3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.calculator button[type="reset"] {
    background: #444;
}

.calculator button:hover {
    filter: brightness(120%);
}

.output {
    text-align: center;
}

.output #bmi {
    font-size: 4rem;
}

.output #desc strong {
    text-transform: uppercase;
}

.glucose-scale {
    display: flex;
}

.glucose-scale div {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid var(--color);
    padding: 10px;
}

.glucose-scale h4 {
    font-size: 0.75rem;
    color: slategray;
}

.underweight {
    color: var(--underweight);
}

.healthy {
    color: var(--healthy);
}

.overweight {
    color: var(--overweight);
}

.obese {
    color: var(--obese);
}